# Builds, logs, and caches
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Uu]ser[Ss]ettings.suo
*.rsuser
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# JetBrains Rider files
.idea/
*.sln.iml

# Visual Studio Code files
.vscode/

# NuGet Packages and local caches
*.nupkg
*.snupkg
# Descomenta la siguiente línea si usas paquetes locales que no quieres versionar
# [Nn]uGet/
*.local

# Unit Test Results
*.trx
*.coverage
*.coveragexml

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Bb]uild[Ll]ogs/

# Profiler
*.vsp
*.vspx
*.sap

# DotCover coverage
*.dotCover

# Local environment variables
.env
.env.local


# Arquivos compilados por bytecode
__pycache__/
*.py[cod]
*$py.class

# Extensões C
*.so

# Distribuição e empacotamento
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ambientes virtuais (Virtual Environments)
venv/
ENV/
env/
.venv/

# IDEs e editores de texto
.idea/
.vscode/
*.swp
*.swo

# Testes e relatórios de cobertura
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/